PORT=4000
NODE_ENV=development

# Database (PostgreSQL)
DATABASE_URL="postgresql://postgres:12345@localhost:5432/ticket-booking?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"

# RabbitMQ
RABBITMQ_URL="amqp://guest:guest@localhost:5672"
